{% extends "base.html.twig" %}

{% block content %}
    <h1>Symulacja rzutu ukośnego</h1>
    <div id="errors"></div>

    {{ form_start(entryDataForm, {'attr': {'id': 'entry_data_form'}}) }}
        <div class="row">
            <div class="element">
                {{ form_row(entryDataForm.initialSpeed) }}
            </div>
            <div class="element">
                {{ form_row(entryDataForm.throwAngle) }}
            </div>
            <div class="element">
                {{ form_row(entryDataForm.time) }}
            </div>
        </div>
        <div class="row">
            <div class="element">
                {{ form_row(entryDataForm.submit) }}
            </div>
        </div>
    {{ form_end(entryDataForm) }}
    <div class="row">
        <div id="data"></div>
    </div>  
    <div class="row">
        <div id="chart"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/form.js"></script>
{% endblock %}
