{% extends "base.html.twig" %}

{% block content %}
    <h1>Symulacja rzutu ukośnego</h1>
    <p>Podaj w formularzu prędkość początkową (m/s) oraz kąt rzutu (&deg).<br/>
        Do obliczeń wartość przyspieszenia ziemskiego została uwzględniona na poziomie 9,81 m/s<sup>2</sup>.
        W celu uproszczenia opory powietrza zostały pominięte.
{#        Jeśli chcesz oprócz podstawowych parametrów wyliczyć również dane na konkretny czas rzutu, podaj czas w sekundach#}
    </p>
    <div id="errors"></div>

    {{ form_start(entryDataForm, {'attr': {'id': 'entry_data_form'}}) }}
        <div class="row">
            <div class="element">
                {{ form_row(entryDataForm.initialSpeed) }}
            </div>
            <div class="element">
                {{ form_row(entryDataForm.throwAngle) }}
            </div>
{#            <div class="element">#}
{#                {{ form_row(entryDataForm.time) }}#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="element">
                {{ form_row(entryDataForm.submit) }}
            </div>
        </div>
    {{ form_end(entryDataForm) }}
    <div class="row">
        <div id="data"></div>
    </div>
    <div class="row">
        <div id="chart"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/form.js"></script>
{% endblock %}
